
{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'OnlineLearningSystem/styles.css' %}">

{% block content %}

<h1>Posts</h1>


{% for post in object_list %}

<div class="card custom-card">
    <div class="card-body">
      <a href="{% url 'post-detail' post.pk %}">{{ post.title }} </a> - {{ post.created_at }} 
    
    {% if user.is_authenticated and user.id == post.author.id or user.is_teacher%}
        {% if user.is_authenticated and user.id == post.author.id %}
        - <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
        {% endif %}
        <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
    {% endif %}
    <br/>
    <strong>{{ post.author}} </strong>
    {% if post.body|length > 150 %}
        {{ post.body|slice:":150"}}...
    {% else %}
        {{ post.body }}
    {% endif %}
    
    
    </div>
   
</div>
 <br/>
{% endfor %}



{% endblock %}