{% extends 'base.html' %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'OnlineLearningSystem/styles.css' %}">
{% block title %} {{post.title}} {% endblock %}

{% block content %}



<h1>{{post.title}}</h1>
<small>By: {{post.author}} 
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    - <small><a href="{% url 'update_post' post.pk %}">(Edit)</a>
    <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
    <br/>
    {% endif %}
{% endif %}

<hr>
<div style="text-align: center;">
    {% if post.image %}
    <img src="{{post.image.url}}" style="max-width: 400px; max-height: 300px;">
    {% endif %}
    {% if post.video %}
</br>
    <video src="{{post.video.url}}" style="max-width: 400px; max-height: 300px;" controls></video>

    {% endif %}
</div>
<br/>
<div class="card custom-card">
    <div class="card-body">
        {{ post.body }}
    </div>
</div>
<br/><br/>
<!--Replies-->
<div class="section ">
    <div class="container ">
        <h4>Replies({{post_replies_count}})</h4>
        <div class="row ">
            <div class="col-lg-8 mx-auto ">
                <!--display reply-->
                <div class="media-list">
                    {% for reply in post_replies %}
                    <div class="card custom-card">
                        <div class="card-body">
                            <div>
                                <div class="media-body">
                                    <div class="small-1">
                                        <b> {{reply.author}}</b>
                                        <time class="ml-4 opaciy-70 small-3"> {{reply.created_at}}</time>
                                    </div>
                                    <p> {{reply.body}}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </br>
                    {% endfor %}
                </div>
                <!--display the form-->
                <form method="POST" action="{% url 'post-detail' slug=post.slug %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form}}
                    </div> 
                    <button class="btn btn-primary btn-block " type="submit">Reply</button>   
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<a href="{% url 'home' %}"><button class="btn btn-secondary">Back</button></a>
{% endblock %}

